/* Header */

.header {
  display: flex;
  gap: 3rem;
  align-items: center;
  flex: 1;
  margin-top: 3.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav a {
  display: block;
  color: var(--grayish-violet);
  font-weight: 500;
  padding: 0.65rem 1.125rem;
  border-radius: 2rem;
  transition: 0.3s;
}

.nav a:hover,
.nav a:focus {
  outline: none;
  background-color: #ebeaed;
}

.nav div {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

/* Header and Menu Mobile */

.header.mobile {
  display: block;
  margin-top: 1.5rem;
}

.header.mobile > div {
  display: flex;
  justify-content: space-between;
}

.header.mobile .nav {
  display: none;
  position: relative;
}

.header.mobile .nav.active {
  display: block;
  background-color: var(--dark-violet);
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  z-index: 2;
  position: absolute;
  width: 70vw;
  right: 5.5rem;
  margin-top: 1.5rem;
}

.header.mobile .nav div {
  display: block;
}

.header.mobile .nav div:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 1.5rem;
}

.header.mobile .nav a {
  padding: 0.45rem 1.125rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
  transition: 0.3s;
}

.header.mobile .nav a:hover,
.header.mobile .nav a:focus {
  background-color: var(--very-dark-violet);
}

.header.mobile .nav button {
  width: 100%;
}

.mobileButton {
  height: 2rem;
  width: 2rem;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: white;
  color: var(--grayish-violet);
  cursor: pointer;
  transition: 0.3s;
}

.mobileButton::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0px 0.5rem currentColor, 0 -0.5rem currentColor;
}

.mobileButton:hover,
.mobileButton:focus {
  background-color: var(--gray);
  outline: none;
}

@media (max-width: 600px) {
  .header.mobile .nav.active {
    width: 90vw;
    right: 1.125rem;
  }
}
