.footerWrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--very-dark-violet);
}

.footer {
  color: white;
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr 300px;
  gap: 3rem;
}

.footer svg path {
  fill: white;
}

.footer ul h3 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.footer li {
  white-space: nowrap;
  color: var(--gray);
  cursor: pointer;
  transition: 0.3s;
}

.footer li:hover {
  color: var(--grayish-violet);
}

.footer li + li {
  margin-top: 1rem;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1280px) {
  .footer {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer li {
    white-space: nowrap;
  }
  .icons {
    gap: 1rem;
  }
}

@media (max-width: 880px) {
  .footerWrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3rem;
    text-align: center;
  }
}
